html{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(#A7A7A7, #cfcfcf, #cfcfcf, #cfcfcf, #A7A7A7);
    
}
/* ******************* NAV BAR START ******************** */
#nomad-banner{
    background-color: white;
    /* Fix the logo getting cut off */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Fix the logo getting cut off */
#nomad-banner img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 768px){
    #nomad-banner img{
        max-width: 100%;
        max-height: 70px;
    }
}

/* Change Navbar breakpoint to start at 1285px */
@media screen and  (min-width: 1286px){
    .navbar-expand-lg{
        flex-direction: row;
    }
    .card{
        padding: 0.50vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    .package-cards{
        display: flex;
        justify-content: space-evenly;
        padding: 2.08vw;
        margin: 2.08vw;
    }
    .first-row{
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and  (max-width: 1285px){
    .navbar-expand-lg{
        flex-direction: column;
    }
    .card{


    }
    .package-cards{


    }
    .first-row{

           
    }
}
/* Remove ugly padding */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.navbar{
    /* *** */ background-image: linear-gradient(#db2b34, #df9e6a, #db2b34);
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: large;
    /* Remove ugly padding */
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 3px 5px #7e7e7e;
}
/* Set colours for the navbar as per colour scheme. Some changes were made deliberately
to make it look better. These will be marked as "***" throughout the code */
/* Links */
.navbar .navbar-nav .nav-link{
    color: #015198;
}
.navbar .navbar-nav .nav-link:hover{
    background-image: linear-gradient(#b40e16, #df9e6a, #b40e16);
    color: #457096;
}
/* Home */
.navbar .navbar-nav .nav-link.home{
    color: #015198;
}
/* keep this for other pages */
/* .navbar .navbar-nav .nav-link.home:hover{
    color: #457096;
} */
/* Active page */
.navbar .navbar-nav .nav-link.active{
    color: #B58156;
    background-image: linear-gradient(#A7A7A7, white, #A7A7A7);
}
/* Dropdowns */
.navbar .navbar-nav .nav-link.dropdown-toggle{
    color: #013f75;
    /* *** */ background-image: linear-gradient(#a31d24, #ca212a, #ce9262, #ca212a, #a31d24);
    
}
.navbar .navbar-nav .nav-link.dropdown-toggle:hover{
    background-image: linear-gradient(#990a11, #ce9262, #990a11);
    color: #457096;
}
.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#d1d1d1, white, #d1d1d1);
}
.dropdown-menu .dropdown-item{
    color: #b6723a;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: large;
}
.dropdown-menu .dropdown-item:hover{
    color: #6d3c13;
}
#login-btn{
    background-image: linear-gradient(#A7A7A7, white, #A7A7A7);
    border-color: #462810;
    color: #462810;
    font-weight: 600;
    box-shadow: 0 0 5px #77080d;
}
#login-btn:hover{
    background-image: linear-gradient(#e6a774, #fdc08e, #ffffff, #fdc08e, #e6a774);
    border-color: #774b27;
    color: #774b27;
    font-weight: 600;
    box-shadow: 0 0 5px #a01d23;
}
/* *************** NAV BAR END ******************** */

/* ****************** MAIN PAGE START ********************* */
/* #search-bar{
    padding-inline: 7px;
    border-radius: 5px;
    border: 1px solid #855732;
    background-image: linear-gradient(#d1d1d1, white, white, white, #d1d1d1);
    margin: 0;
}
#search-bar:focus{
    border: 2px solid#855732;
}
#search-btn{
    background-image: linear-gradient(#A7A7A7, white, #A7A7A7);
    border-color: #462810;
    color: #462810;
    font-weight: 600;
    box-shadow: 0 0 5px #77080d;
    margin-right: 20px;
}
#search-btn:hover{
    background-image: linear-gradient(#e6a774, #fdc08e, #ffffff, #fdc08e, #e6a774);
    border-color: #774b27;
    color: #774b27;
    font-weight: 600;
    box-shadow: 0 0 5px #a01d23;
} */
.banner{
    color: #946137;
    background-image: linear-gradient(#A7A7A7, #cfcfcf, #A7A7A7);
    height: 100px;
    /* Make text stay in the middle of the banner */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-banner{
    max-width: 1920px;
    max-height: 600px;
}
.card{
    align-items: center;
    padding: 1.04vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-radius: 5px;
    box-shadow: 0 0 5px #B58156;
}
.works:hover{
    transform: scale(0.95);
    box-shadow: 0 0 20px #B58156;
}
.doesnt-work{
    background-color: #dfdfdf;
    color: #707070;
}
.card-btn{
    width: fit-content;
    display: block;
    background-image: linear-gradient(#b87b49, #d39765, #d6d6d6, #d39765, #b87b49);
    border-color: #462810;
    color: #462810;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px auto auto;
}
.card-btn:hover{
    background-image: linear-gradient(#e6a774, #fdc08e, #ffffff, #fdc08e, #e6a774);
    border-color: #774b27;
    color: #774b27;
    margin: 12px auto auto;
}

.card-img-top{
    max-width: 200px;
    max-height: 200px;
    padding: 0.5vw;
}
.package-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4.16vw;
    margin: 4.16vw;
}
.first-row{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
}
.second-row{
    margin-top: 4.16vw;
    display: flex;
    justify-content: space-evenly;
}
.card-title{
    color: #704624;
    text-decoration: underline;
}
.card-title-doesnt-work{
    color: #707070;
    text-decoration: underline;
}
.card-btn-doesnt-work{
    width: fit-content;
    display: block;
    background-image: linear-gradient(#bbbbbb, #d3d3d3, #d6d6d6, #d3d3d3, #bbbbbb);
    border-color: #444444;
    color: #444444;
    font-weight: 600;
    border-radius: 5px;
    margin: 12px auto auto;
    cursor: default;
}
.card-btn-doesnt-work:hover{
    width: fit-content;
    display: block;
    background-image: linear-gradient(#bbbbbb, #d3d3d3, #d6d6d6, #d3d3d3, #bbbbbb);
    border-color: #444444;
    color: #444444;
    font-weight: 600;
    border-radius: 5px;
    margin: 12px auto auto;
    cursor: default;
}
/* ************* MAIN PAGE END ********************** */

/* ************ FOOTER START *************** */
/* Wrapping the footer and removing unnecessary text for mobile
version of the website */
@media only screen and (max-width: 1173px){
    .col-md-6{
        flex-wrap: wrap;
    } 
    .social-links p{
        display: none;
    }
    .footer-container{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 520px){
    .footer-container .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .copyright p{
        white-space: normal;
        overflow-wrap: break-word;
    }
    .card{
        margin: 1.92vw auto;
        
    }
    .package-cards{
        padding: 2.08vw;
        margin: 2.08vw;
        display: flex;
        justify-content: center;
    }
    .first-row{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    .second-row{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
}
/* Wanted to lessen the gaps because they get squished to the right */
@media only screen and (max-width: 390px){
    .footer-container{
        gap: 10px;
    } 
    .copyright{
        gap: 10px;
    }
    .footer-text{
        gap: 10px;
    }
    .social-links{
        gap: 10px;
    }
    .social-link{
        gap: 10px;
    }
}
/* Rules for individual divs inside the container section */
.footer{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-bottom: 0;
    padding-top: 0;
    /* It was driving me bananas, it wouldn't fit to the screen, so I did some research and found: https://www.w3schools.com/csS/css3_box-sizing.asp */
    box-sizing: border-box;
    margin-top: auto;
}
.footer-container{
    color: #4d2c12;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.footer-container a{
    color: #4d2c12;
}
.footer-container a:hover{
    color: #974e16;
}
.footer-container>.col-md-6{
    width: auto;
    flex: 0 0 auto;
    align-items: baseline;
    padding: 0;
}
.copyright{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.footer-text{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.social-links{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.social-link{
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.social-links p{
    margin: 0;
}
#submission-complete{
    font-size: x-large;
}