html{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#nomad-banner{
    background-color: white;
    /* Fix the logo getting cut off */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Fix the logo getting cut off */
#nomad-banner img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 768px){
    #nomad-banner img{
        max-width: 100%;
        max-height: 70px;
    }
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(#A7A7A7, #cfcfcf, #cfcfcf, #cfcfcf, #A7A7A7);

}
/* Change Navbar breakpoint to start at 1285px */
@media screen and  (min-width: 1286px){
    .navbar-expand-lg{
        flex-direction: row;
    }
}
@media screen and  (max-width: 1285px){
    .navbar-expand-lg{
        flex-direction: column;
    }
}
/* Remove ugly padding */
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.navbar{
    /* *** */ background-image: linear-gradient(#db2b34, #df9e6a, #db2b34);
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: large;
    /* Remove ugly padding */
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 3px 5px #7e7e7e;
}
/* Set colours for the navbar as per colour scheme. Some changes were made deliberately
to make it look better. These will be marked as "***" throughout the code */
/* Links */
.navbar .navbar-nav .nav-link{
    color: #015198;
}
.navbar .navbar-nav .nav-link:hover{
    background-image: linear-gradient(#b40e16, #df9e6a, #b40e16);
    color: #457096;
}
/* Home */
.navbar .navbar-nav .nav-link.home{
    color: #015198;
}
/* keep this for other pages */
.navbar .navbar-nav .nav-link.home:hover{
    color: #457096;
}
/* Active page */
.navbar .navbar-nav .nav-link.active{
    color: #B58156;
    background-image: linear-gradient(#A7A7A7, white, #A7A7A7);
}
/* Dropdowns */
.navbar .navbar-nav .nav-link.dropdown-toggle{
    color: #013f75;
    /* *** */ background-image: linear-gradient(#a31d24, #ca212a, #ce9262, #ca212a, #a31d24);
    
}
.navbar .navbar-nav .nav-link.dropdown-toggle:hover{
    background-image: linear-gradient(#990a11, #ce9262, #990a11);
    color: #457096;
}
.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#d1d1d1, white, #d1d1d1);
}
.dropdown-menu .dropdown-item{
    color: #b6723a;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: large;
}
.dropdown-menu .dropdown-item:hover{
    color: #6d3c13;
}
#login-btn{
    background-image: linear-gradient(#A7A7A7, white, #A7A7A7);
    border-color: #462810;
    color: #462810;
    font-weight: 600;
    box-shadow: 0 0 5px #77080d;
}
#login-btn:hover{
    background-image: linear-gradient(#e6a774, #fdc08e, #ffffff, #fdc08e, #e6a774);
    border-color: #774b27;
    color: #774b27;
    font-weight: 600;
    box-shadow: 0 0 5px #a01d23;
}
/* #search-bar{
    padding-inline: 7px;
    border-radius: 5px;
    border: 1px solid #855732;
    background-image: linear-gradient(#d1d1d1, white, white, white, #d1d1d1);
    margin: 0;
}
#search-bar:focus{
    border: 2px solid#855732;
}
#search-btn{
    background-image: linear-gradient(#A7A7A7, white, #A7A7A7);
    border-color: #462810;
    color: #462810;
    font-weight: 600;
    box-shadow: 0 0 5px #77080d;
    margin-right: 20px;
}
#search-btn:hover{
    background-image: linear-gradient(#e6a774, #fdc08e, #ffffff, #fdc08e, #e6a774);
    border-color: #774b27;
    color: #774b27;
    font-weight: 600;
    box-shadow: 0 0 5px #a01d23;
} */
.banner{
    color: #946137;
    background-image: linear-gradient(#A7A7A7, #cfcfcf, #A7A7A7);
    height: 100px;
    /* Make text stay in the middle of the banner */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Container for 3 sections */
.login-page-container{
    flex: 1;
    display: flex;
    width: 100%;
}
.google-login-container{
    display: flex;
    justify-content: center;
}
.google-login-btn{
    background-color: #dddddd;
    border-color: #ffffff00;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #B58156;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.google-login-btn:hover{
    transform: scale(1.1);
}
.google-logo{
    height: 45px;
    width: 45px;
}
/* Wrapping the footer and removing unnecessary text for mobile
version of the website */
@media only screen and (max-width: 1173px){
    .col-md-6{
        flex-wrap: wrap;
    } 
    .social-links p{
        display: none;
    }
    .footer-container{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 520px){
    .footer-container .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .copyright p{
        white-space: normal;
        overflow-wrap: break-word;
    }
}
/* Wanted to lessen the gaps because they get squished to the right */
@media only screen and (max-width: 390px){
    .footer-container{
        gap: 10px;
    } 
    .copyright{
        gap: 10px;
    }
    .footer-text{
        gap: 10px;
    }
    .social-links{
        gap: 10px;
    }
    .social-link{
        gap: 10px;
    }
}
/* Rules for individual divs inside the container section */
.login-and-register-container{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    flex: 1;
} 

.login-page-container{
    flex: 1;
    display: flex;
    width: 100%;
}
h2{
    color: #946137;
    text-align: center;
    padding-top: 10px;
}
h3{
    text-align: center;
    padding-top: 10px;
}
.headings{
    font-size: 15px;
}
#login{
    border-right: 1px solid #A7A7A7;
    flex: 1 1 auto;
    overflow-y: auto;
    justify-content: left;
    padding: 20px;
}  
#register{
    border-left: 1px solid #A7A7A7;
    flex: 1 1 auto;
    overflow-y: auto;
    justify-content: left;
    padding: 20px;
}
/* Making the input area larger and easier on the eyes */
#login input:not([type="submit"]), #register input:not([type="submit"]), select, textarea{
    width: 50%;
    height: 35px;
    padding-inline: 7px;
    margin-left: 25%;
    border-radius: 5px;
    border: 1px solid #855732;
    box-sizing: border-box;
    display: block;
}
.details-needed{
    font-size: 22px;
    margin-left: 25%;
}
input[type=submit]{
    width: auto;
    display: block;
    background-image: linear-gradient(#b87b49, #d39765, #d6d6d6, #d39765, #b87b49);
    border-color: #462810;
    color: #462810;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px auto auto;
}
input[type=submit]:hover{
    background-image: linear-gradient(#e6a774, #fdc08e, #ffffff, #fdc08e, #e6a774);
    border-color: #774b27;
    color: #774b27;
    margin: 12px auto auto;
}
#login-submission-incomplete{
    margin-left: 25%;
}
#invalid-email-or-username{
    margin-left: 25%;
}
#incorrect-password{
    margin-left: 25%;
}
#register-submission-incomplete{
    margin-left: 25%;
}
#invalid-email{
    margin-left: 25%;
}
#invalid-password{
    margin-left: 25%;
}
#passwords-do-not-match{
    margin-left: 25%;
}
@media only screen and (max-width: 520px){
    .login-and-register-container{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }
    #login{
    border-bottom: 1px solid #7c7c7c;
    }  
    #register{
        border-top: 1px solid #7c7c7c;
    }
    .copyright p{
        white-space: normal;
        overflow-wrap: break-word;
    }
    .details-needed{
        margin-left: 0;
    }
}
.create-account-below{
    display: none;
}
@media only screen and (max-height: 768px) and (max-width: 520px){
    .create-account-below{
        font-size: large;
        font-weight: 500;
        color: #946137;
        display: flex;
        justify-content: right;
        padding-top: 15px;
    }
}
.footer{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-bottom: 0;
    padding-top: 0;
    /* It was driving me bananas, it wouldn't fit to the screen, so I did some research and found: https://www.w3schools.com/csS/css3_box-sizing.asp */
    box-sizing: border-box;
    margin-top: auto;
}
.footer-container{
    color: #4d2c12;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.footer-container a{
    color: #4d2c12;
}
.footer-container a:hover{
    color: #974e16;
}
.footer-container>.col-md-6{
    width: auto;
    flex: 0 0 auto;
    align-items: baseline;
    padding: 0;
}
.copyright{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.footer-text{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.social-links{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.social-link{
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.social-links p{
    margin: 0;
}
#submission-complete{
    font-size: x-large;
}